﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="//s3.amazonaws.com/mdsol-resources/0.4.0/platform.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="//s3.amazonaws.com/mdsol-resources/0.4.0/platform.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Medidata Solutions</p>
        </footer>
    </div>

    <script type="text/javascript" src="//s3.amazonaws.com/mdsol-resources/0.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/mdsol-resources/0.4.0/modernizr.js"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/mdsol-resources/0.4.0/platform.min.js"></script>
    @Scripts.Render("~/bundles/jquery-extensions")
    @RenderSection("scripts", required: false)
</body>
</html>
