﻿@model IEnumerable<PIMobile.Models.SiteViewModel>

@{
    ViewBag.Title = "Sites";
}

<h2>Sites</h2>
<div class="list-group">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.Name, "Options", item, new { @class = "list-group-item" })
    }
</div>
